<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="application.scss">
    </head>
    <body>
        <div class="container">
            <h1>admin top</h1>
        </div>
    </body>
</html>