/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.welcome_message {
    color: floralwhite;
    margin-top: 13px;
}

.mypage-msg {
    margin-bottom: 50px;
}

.infomsg {
    margin-right: 20px;
    font-size: 20px;
}

.mypage-table {
    width: 70%;
    margin-top: 20px;
}

.mypage-table th {
    width: 30%;
    background-image: linear-gradient(40deg, #eecda3 0%, #ffb6c1 99%)
}

.haisoubtn {
    margin-left: 20px;
}

.btn-display {
    float: left;
}

.st1 {
    margin-right: 100px;
}

.st2 {
    margin-right: 60px;
}

.st3 {
    margin-right: 60px;
}

.st4 {
    margin-right: 10px;
}

.st5 {
    margin-right: 130px;
}

.st6 {
    margin-right: 10px;
}

.st7 {
    margin-right: 13px;
}

.st8 {
    margin-right: 3px;
}

.field {
    margin-bottom: 15px;
}

.btnbtn {
    margin-left: 100px;
}

.btn-edit {
    margin-right: 100px;
}

.white {
    color: floralwhite;
    letter-spacing: 0.1em;
}

.admin-index-table {
    background-image: linear-gradient(40deg, #eecda3 0%, #ffb6c1 99%);
}

.border-rad {
    border-radius: 10px;
}

.confirm-msg {
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
}

.confirm-msg2 {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.cancel-btn {
    text-align: center;
}

.add-button {
    margin-right: 20px;
}

.new-genre {
    margin: 50px 0px 30px 0px;
}

.roundbtn{
    width:40px;
    height:40px;
    background: #ffb6c1;
    border-radius:100%;
    float: right;
    margin-bottom: 20px;
    text-align: center;
}

.roundmsg {
    color: floralwhite;
    font-size: 30px;
}

.roundmsg:hover {
    color: floralwhite;
    text-decoration: none;
}

.submsg {
    font-size: 20px;
}

.indexitem {
    margin: 30px;
}

.item {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
}

.str1 {
    margin-right: 40px;
}

.str2 {
    margin-right: 12px;
}

.str3 {
    margin-right: 28px;
}

.str4 {
    margin-right: 14px;
}

.subbtn {
    margin-top: 200px;
}

.showitem {
    margin-bottom: 30px;
}

.neworder {
    font-size: 25px;
}

.order-detail {
    margin-top: 300px;
}

.order-status {
    margin-bottom: 50px;
}

.background {
    background-color: #ffc3c3;
    
}

.marginb {
    margin-bottom: 30px;
}

.marginr {
    margin-right: 140px;
}

.marginl {
    margin-left: 300px;
    margin-bottom: 10px;
}

.toppage {
    text-align: center;
}

.toppage h1 {
    margin: 50px 0 70px 0;
}
.toppage h2 {
    margin-bottom: 50px;
}
.toppagebtn {
    font-size: 30px;
}